/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
/* NAVBAR STYLING */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #1F2937;
    color: #fff;
}
.nav-links a {
    color: #fff;
}
/* LOGO */
.logo {
    font-size: 32px;
}
/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}
.menu li {
    padding: 5px 14px;
}
/* DROPDOWN MENU */
.services {
    position: relative;
}
.dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1 em 0;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 35px;
}
.dropdown li + li {
    margin-top: 10px;
}
.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}
.dropdown li:hover {
    background-color: #4c9e9e;
}
.services:hover .dropdown {
    display: block;
}

/* INTRO SECTION */
.intro {
    background-color: #1F2937;
    padding: 20px;
}
h1.intro-text {
    padding: 10px;
    font-size: 48px;
    font-weight: bold;
    color: #F9faf8;
}
p.intro-text-1 {
    font-size: 18px;
    color: #E5E7EB;
}
/* BUTTON */
.button {
    background-color: #3882f6;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* RANDOM INFO SECTION */
.random-info{
    padding: 100px;
    text-align: center;
}
.info {
    padding-bottom: 40px;
}

/* IMAGES */
 .top-img {
    display: inline-block;
    border: none;
}

img {
    margin-left: 35px;
    justify-content: space-around;
    border: 10px solid #D6E5FA;
    border-radius: 10%;
}

/* QUOTE SECTION */
blockquote {
    background: #e5e7eb;
    position: relative;
    border-left: 0.2em solid #039be5;
    font-family: 'Roboto', serif;
    font-size: 2em;
    line-height: 1.5em;
    font-weight: 100;
}

blockquote:before, blockquote:after {
    font-family: Calibri;
    color: #039be5;
    font-size: 35px;
}
blockquote:before {content:
    '\201e'}
blockquote:after {content: '\201c';}
blockquote cite {
    font-size: 1em;
    text-align: center;
    top: 50%;
}
blockquote cite:before {
    content: ' \2015'
}
/* CALL TO ACTION */
.cta {
   background-color: #3882f6;
   color: #f9faf8;
   padding: 15px 32px;
   margin: 100px 250px;
   border-radius: 8px;
   text-align: left;
}
.button-1 {
    background: #1aab8a;
    color: #fff;
    border: none;
    position: relative;
    height: 30px;
    font-size: 1em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}
.button-1:hover {
    background: #fff;
    color: #1aab8a;
}
.button-1:before, .button-1:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #1aab8a;
    transition: 400ms ease all;
}
.button-1:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}
.button-1:hover:before, .button-1:hover:after {
    width: 100%;
    transition: 800ms ease all;
}
/* FOOTER */
.footer {
    position: absolute;
    height: 100px;
    width: 100%;
    background-color: #1F2937;
}
p.copyright {
    position: absolute;
    width: 100%;
    color: #fff;
    line-height: 40px;
    text-align: center;
    bottom: 0;
}